@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #F9FAFB;
  --foreground: #444546;
  --primary: #447ea2;
  --secondary: #79cad3;
  --text-light: #444546;
  --text-dark: #EAEAEA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background-light: #F9FAFB;
  --color-background-dark: #1A1A1A;
  --color-text-light: #444546;
  --color-text-dark: #EAEAEA;
  --font-display: 'Poppins', var(--font-geist-sans), sans-serif;
  
  --radius-default: 0.5rem;
  
  @keyframes slow-pan {
    0% { transform: scale(1) translate(0, 0); }
    100% { transform: scale(1.1) translate(-10px, 5px); }
  }
  
  --animate-slow-pan: slow-pan 12s linear infinite alternate;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #EAEAEA;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
